body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    line-height: 0.5;
}

header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 70px;
}
.left_area a{
    color: #fff;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    
  
}
.left_area span{
    color: #0562b9;
}

.logout_btn {
    padding: 5px;
    float: right;
    margin-top: -23px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    
    
}


.sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}
.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .profile_info .admin_profile{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;

}

.sidebar .profile_info h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;

}

.sidebar a:hover{
    background: #0562b9;
}
.sidebar i{
    padding-right: 10px;
}

label #side_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: -6px 0;
    transition: 0.5s;
    transition-property: color;
}

label #side_btn:hover{
    color: #0562b9;
}

#check:checked ~ .sidebar{
    left: -185px;
    
}

#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content{
    width: (100%-250px);
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    background-position: center;
    background-size: cover;
    height: 100vh; 
    transition: 0.5s;
    
}

#check:checked ~ .content{
    margin-left: 60px;

}


#check:checked ~ .sidebar .profile_info{
    display: none;
    
}

#check{
    display: none;
}
.mobile_nav{
    display: none;
}


/*Responcive*/

@media screen and (max-width: 780px){
    .sidebar{
        display: none;

    }
    
    #side_btn{
        display: none;
    }

    .content{
        margin-top: 0;
        margin-left: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked ~ .content{
        margin-left: 0;
    
    
    }

    .mobile_nav{
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar{
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_admin_profile{
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
    .nav_bar .nav_btn{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    .nav_bar .nav_btn:hover{
        color: #0562b9;
    }

    .mobile_nav_items{
        background: #2f323a;
        display: none;

    }

    .mobile_nav_items a{
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover{
        background: #0562b9;
    }

    .mobile_nav_items i{
        padding-right: 10px;

    }

    .active{
        display: block;

    }

}
